body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: auto 10%;

}

.container {
    background-color: rgb(48, 40, 40);
    padding: 20px;
}


h1 {
    color: white;
    font-size: 32px;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

li {
    font-size: 24px;
    margin-top: 12px;
}

a {
    color: white;
}

img {
    height: auto;
    border: 5px solid black;
    padding: 5px;
    width: 50%;
}